@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}
/* *********************/
/* sessão I N I C I O */
/* *********************/

#inicio {
    background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("img/banner principal3.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#inicio .conteudo cabeçalho {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .conteudo cabeçalho .conteudo-cabeçalho {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .conteudo cabeçalho .conteudo-cabeçalho h1 {
    text-align: center;
    color: #ff5080;
}

#inicio .conteudo cabeçalho .conteudo-cabeçalho nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .conteudo cabeçalho .conteudo-cabeçalho nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .conteudo cabeçalho .conteudo-cabeçalho nav ul li a:hover {
    color: #ff5080;
}

#inicio .conteudo cabeçalho .conteudo-cabeçalho .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .conteudo cabeçalho .conteudo-cabeçalho .redes a:hover {
    color: #ff5080;
}

#inicio .conteudo cabeçalho .conteudo-cabeçalho .seleccionado {
    color: #ff5080;
}

#inicio .conteudo .apresentaçoes {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .conteudo .apresentaçoes .bem-vindo {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .conteudo .apresentaçoes h2 {
    font-size: 45px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .conteudo .apresentaçoes h2 span {
    font-size: 45px;
    color: #ff5080;
}

#inicio .conteudo .apresentaçoes .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

#inicio .conteudo .apresentaçoes a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

#inicio .conteudo .apresentaçoes a:hover {
    background-color: rgb(255, 82, 128);
}

#icono-nav {
    color: rgb(255, 255, 255);
    display: none;
}
/* *********************/
/* sessão S O B R E  M I */
/* *********************/

#eu {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
}

#eu .recipiente-foto {
    max-width: 400px;
    margin-right: 80px;
}

#eu .recipiente-foto img {
    padding: 15px;
    width: 100%;
    border-radius: 40px;
    background-color: #111135;
}

#eu .eu {
    margin: 0 40px;
}

#eu .eu .titulo-sessão {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#eu .eu h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#eu .eu h2 span {
    color: #ff5080;
}

#eu .eu h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#eu .eu p {
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}

#eu .eu a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    border: 1px solid #000;
    padding: 10px 20px;
    margin-top: 30px;
    transition: .5s;
}

#eu .eu a:hover {
    background-color: #ff5080;
    color: #fff;
}
/* *********************/
/* sessão S E R V I C I O S */
/* *********************/

#servicos {
    padding: 100px 15px;
    text-align: center;
    background-color: #e0ebf5b6;
}

#servicos .titulo-sessão {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#servicos .fila {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 30px auto;
}

#servicos .fila .servicos {
    max-width: 350px;
    background-color: #2e53f5cb;
    padding: 30px;
    margin: 0 5px;
    border-radius: 30px;
    transition: .5s;
}

#servicos .fila .servicos:hover {
    box-shadow: 10px 10px 10px #ff5080, -5px -5px 10px ;
}

#servicos .fila .servicos .icono {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d3d3d3;
    padding: 20px;
    margin-bottom: 25px;
}

#servicos .fila .servicos h4 {
    font-size: 22px;
    margin-bottom: 25px;
}

#servicos .fila .servicos hr {
    width: 30%;
    margin: auto;
    color: #000;
    margin-bottom: 25px;
}

#servicos .fila .servicos ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

#servicos .fila .servicos p {
    font-size: 14px;
    line-height: 22px;
}
/* *********************/
/* sessão H A B I L I D A D E S */
/* *********************/

.recipiente-skills {
    background: linear-gradient( #ff5080, rgba(18, 29, 90, 0.8)), url("img/fondo-skills.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}

.recipiente-skills .skill {
    max-width: 600px;
    margin: 30px auto;
}

.recipiente-skills .skill .info {
    display: flex;
    justify-content: space-between;
}

.recipiente-skills .skill .lista {
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}

.recipiente-skills .skill .barra {
    background-color: #919191;
    width: 100%;
    height: 6px;
    margin: 10px 0px;
}

.recipiente-skills .skill .barra .barra-progreso1 {
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso1 2s forwards;
}

.recipiente-skills .skill .barra .barra-progreso2 {
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso2 2s forwards;
}

.recipiente-skills .skill .barra .barra-progreso3 {
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso3 2s forwards;
}

.recipiente-skills .skill .barra .barra-progreso4 {
    background-color: #fff;
    width: 85%;
    height: 6px;
    animation: progreso4 2s forwards;
}

@keyframes progreso1 {
    0% {
        width: 0;
    }
    100% {
        width: 95%;
    }
}

@keyframes progreso2 {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}

@keyframes progreso3 {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}

@keyframes progreso4 {
    0% {
        width: 0;
    }
    100% {
        width: 85%;
    }
}
/* *********************/
/* sessão P O R T F O L I O */
/* *********************/

#portfolio {
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}

#portfolio .titulo-sessão {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#portfolio .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

#portfolio .fila .proyecto {
    max-width: 450px;
    border: 1px solid rgb(50, 0, 189);
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

#portfolio .fila .proyecto img {
    width: 100%;
    height: 100%;
    ;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}

#portfolio .fila .proyecto:hover img {
    filter: grayscale(0);
}

#portfolio .fila .proyecto .info {
    position: absolute;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ff5080;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

#portfolio .fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}
/* *********************/
/* sessão C O N T A C T O */
/* *********************/

#contacto {
    padding: 100px 15px;
    background-color: #f3f3f3;
}

#contacto .titulo-sessão {
    margin-bottom: 20px;
}

#contacto .recipiente-form {
    max-width: 1100px;
    margin: auto;
}

#contacto .recipiente-form .fila {
    margin-bottom: 15px;
}

#contacto .recipiente-form .mitad {
    display: flex;
    justify-content: space-between;
}

#contacto .recipiente-form input,
#contacto .recipiente-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}

#contacto .recipiente-form .mitad input {
    width: 48%;
}

#contacto .recipiente-form .input-full {
    width: 100%;
}

#contacto .titulo-sessão {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px !important;
}

#contacto .btn-enviar:hover {
    background-color: #ff5080;
    color: #fff;
}
/* *********************/
/* sessão F O O T E R */
/* *********************/

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}
/* *********************/
/* sessão R E S P O N S I V E */
/* *********************/

@media screen and (max-width: 800px) {
    .redes {
        display: none;
    }
    nav {
        display: none;
    }
    nav.responsive {
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul {
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li {
        margin: 5px 0;
    }
    #icono-nav {
        display: block;
    }
    #inicio .conteudo .apresentaçoes h2 {
        font-size: 40px;
    }
    /* sessão SOBRE MI */
    #eu {
        padding: 50px 0;
        display: block;
    }
    #eu .recipiente-foto {
        max-width: 200px;
        margin: auto;
    }
    #eu .recipiente-foto img {
        padding: 8px;
    }
    #eu .eu .titulo-sessão {
        text-align: center;
    }
    #eu .eu h2 {
        font-size: 25px;
        text-align: center;
    }
    /* sessão MIS SERVICOS */
    #servicos {
        padding: 50px 15px;
    }
    #servicos .fila {
        display: block;
    }
    #servicos .fila .servicos {
        margin: 10px auto;
    }
    /* sessão HABLIDADES MI */
    .recipiente-skills {
        padding: 50px 20px;
    }
    /* sessão PORTFOLIO */
    #portfolio {
        padding: 50px 0;
    }
    #portfolio .fila {
        display: block;
    }
    #portfolio .fila .proyecto {
        margin: 10px auto;
    }
    /* sessão CONTACTO */
    #contacto {
        padding: 50px 15px;
    }
    #contacto .recipiente-form .mitad {
        margin-bottom: 15px;
        display: block;
    }
    #contacto .recipiente-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }
}